@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v12/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.mdl-layout__content{
    text-align: center;
    background-image: url("../img/bg_white.png");
}

.mdl-selectfield__select{
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.55);
    background: transparent;
    font-size: 16px;
    font-family: "Helvetica","Arial",sans-serif;
    padding: 4px 0;
    width: 100%;
    outline-color: transparent;
}

.mdl-selectfield__select:hover{
    outline-color: transparent;
}
    
.mdl-button--fab{
    position: absolute;
    right: 25px;
    bottom: 10%;   
}

.mdl-layout-title{
    text-transform: initial;
}